html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdown-menu.dropdown-select {
  width: auto;
  min-width: auto;
  margin-top: 1rem;
  padding: 0;
  border: 2px solid #DCE2F0;
  border-radius: 0.25rem;
  overflow: hidden;
}

.dropdown-menu.dropdown-select .dropdown-item {
  padding: 0.625rem 1.5rem;
  color: #000000;
}

.dropdown-menu.dropdown-select .dropdown-item:focus, .dropdown-menu.dropdown-select .dropdown-item:hover, .dropdown-menu.dropdown-select .dropdown-item.active {
  background-color: #F3F5FA;
}

.dropdown-menu.dropdown-select .dropdown-item-text {
  padding: 0.625rem 1.5rem;
  font-weight: 700;
}

body {
  font-family: "Inter", sans-serif;
  color: #000000;
  line-height: 1.21;
}

h1, h2, h3, .h1, .h2, .h3, .h1-mobile, .h2-mobile, .h3-mobile, .h1-desktop, .h2-desktop, .h3-desktop {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  line-height: 1.3;
}

h1, .h1, .h1-desktop {
  font-size: 2rem;
}

h2, .h2, .h2-desktop {
  font-size: 1.75rem;
}

h3, .h3, .h3-desktop {
  font-size: 1.5rem;
}

.h1-mobile, .h2-mobile, .h3-mobile {
  margin-bottom: 0.5rem;
}

.h1-mobile {
  font-size: 1.75rem;
}

.h2-mobile {
  font-size: 1.5rem;
}

.h3-mobile {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  h1:not(.h1-desktop), .h1 {
    font-size: 1.75rem;
  }
  h2:not(.h2-desktop), .h2 {
    font-size: 1.5rem;
  }
  h3:not(.h3-desktop), .h3 {
    font-size: 1.125rem;
  }
}

.overflow-y-hidden {
  overflow-y: hidden;
}

ul.ul-content {
  margin-bottom: 1rem;
  padding-left: 28px;
}

ul.ul-content li {
  list-style: disc;
}

.bkgr-grey-grey {
  background-color: #F3F5FA;
}

.left-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1.6665L5.60002 7.06651C5.08668 7.57984 5.08668 8.41984 5.60002 8.93318L11 14.3332' stroke='%238792AB' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.right-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14.3335L10.4 8.93349C10.9133 8.42016 10.9133 7.58016 10.4 7.06682L5 1.66683' stroke='%238792AB' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.form-control.form-input, .form-control.form-textarea {
  padding: 0.5rem 1.5rem;
  color: #000000;
  border: 2px solid #DCE2F0;
  border-radius: 0.25rem;
  background-color: #ffffff;
  text-overflow: ellipsis;
}

.form-control.form-input:focus, .form-control.form-textarea:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 226, 240, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(220, 226, 240, 0.25);
}

.form-control.form-input {
  height: 3rem;
}

.form-input::-webkit-input-placeholder, .form-textarea::-webkit-input-placeholder {
  color: #8792AB;
}

.form-input:-ms-input-placeholder, .form-textarea:-ms-input-placeholder {
  color: #8792AB;
}

.form-input::-ms-input-placeholder, .form-textarea::-ms-input-placeholder {
  color: #8792AB;
}

.form-input::placeholder, .form-textarea::placeholder {
  color: #8792AB;
}

.btn.btn-submit, .btn.btn-upload {
  height: 3rem;
  padding: 0.5rem 1.5rem;
  color: #000000;
  font-size: 1.125rem;
}

.btn.btn-submit {
  background-color: #FFA6BB;
}

.btn.btn-submit:hover {
  background-color: #FF7495;
}

.btn.btn-submit:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 166, 187, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(255, 166, 187, 0.25);
}

.btn.btn-upload {
  background-color: #DCE2F0;
}

.catalog-card {
  display: block;
  margin-bottom: 1.875rem;
  text-align: center;
}

.catalog-card img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.catalog-card h3 {
  margin-top: 1.4375rem;
  margin-bottom: 0;
}

.catalog-card p {
  font-size: 1.125rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

@media screen and (max-width: 767px) {
  .catalog-card {
    margin-bottom: 0.9375rem;
  }
  .catalog-card h3 {
    margin-top: 0.625rem;
  }
  .catalog-card p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .cards-wrapper.row {
    margin-right: -7px;
    margin-left: -7px;
  }
  .cards-wrapper.row > [class^="col-"] {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.taste-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
  text-align: center;
}

.taste-card img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.taste-img {
  margin-bottom: 1rem;
}

.taste-content .taste-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.taste-content p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 575px) {
  .taste-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1.5rem;
    text-align: left;
  }
  .taste-card:not(.taste-card-last) {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #DCE2F0;
  }
  .taste-img {
    width: 6.25rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.price-card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #DAFFE5;
}

.price-card h3 {
  margin-bottom: 1rem;
}

.price-card p {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.price-card .price-card-subtitle {
  font-size: 1.25rem;
  font-weight: 700;
}

.price-card .price-card-info {
  margin-bottom: 0;
}

.price-card .price-card-info span {
  display: inline-block;
  padding: 0.875rem 0.75rem 0.8125rem 0.75rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  background-color: #A0E7E5;
}

.landing-delivery {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #FFF8F8;
}

.landing-delivery h3 {
  margin-bottom: 1rem;
}

.delivery-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0.625rem 1.75rem;
  border: 2px solid #FFA6BB;
  border-radius: 0.25rem;
  text-align: center;
}

.delivery-option p {
  margin-bottom: 0;
}

.delivery-option p:last-child {
  font-size: 1.125rem;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .price-card {
    padding: 1rem;
  }
  .price-card h3 {
    margin-bottom: 0.5rem;
  }
  .price-card p {
    font-size: 1rem;
  }
  .price-card .price-card-subtitle {
    font-size: 1.125rem;
  }
  .landing-delivery {
    padding: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .landing-delivery h3 {
    margin-bottom: 1.25rem;
  }
  .delivery-option {
    height: auto;
    padding: 1.5rem 1rem;
  }
  .delivery-option.delivery-option-last {
    margin-top: 1.25rem;
  }
}

.taste-page-card {
  padding-bottom: 1.5rem;
  text-align: center;
}

.taste-page-card img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.taste-page-img {
  margin-bottom: 1rem;
}

.taste-page-content .taste-page-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.taste-page-content p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 575px) {
  .taste-page-card {
    padding-bottom: 1.875rem;
  }
  .taste-page-card.taste-page-card-last {
    padding-bottom: 0;
  }
}

.size-card {
  height: 100%;
  text-align: center;
}

.size-card p {
  margin-bottom: 0;
}

.size-card p:first-of-type {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.size-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15.9375rem;
  padding: 1rem;
  border-radius: 0.5625rem;
  background-color: #F3F5FA;
}

.size-img img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1199px) {
  .size-img {
    height: 13.125rem;
  }
}

@media screen and (max-width: 991px) {
  .size-img {
    height: 9.375rem;
  }
}

@media screen and (max-width: 767px) {
  .size-card {
    margin-bottom: 1rem;
  }
  .size-img {
    height: 15rem;
  }
}

@media screen and (max-width: 575px) {
  .size-cards .col-6:nth-child(2n-1) {
    padding-right: 0.4375rem;
    text-align: right;
  }
  .size-cards .col-6:nth-child(2n) {
    padding-left: 0.4375rem;
    text-align: left;
  }
  .size-card {
    display: inline-block;
    width: 100%;
    max-width: 9.875rem;
  }
  .size-img {
    max-width: 9.875rem;
    height: 9.875rem;
  }
}

.request-card {
  padding: 1.375rem;
  text-align: center;
  border: 2px solid #FFA6BB;
  border-radius: 0.5rem;
}

.request-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.25rem;
}

.request-link {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 3rem;
          flex: 1 0 3rem;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 0.25rem;
}

.request-link img {
  margin-right: 0.625rem;
}

.request-link.request-viber {
  margin-right: 0.5rem;
  background-color: #834995;
}

.request-link.request-viber img {
  width: 1.625rem;
}

.request-link.request-viber:hover {
  background-color: #744184;
}

.request-link.request-telegram {
  margin-left: 0.5rem;
  background-color: #63C4E9;
}

.request-link.request-telegram img {
  width: 1.875rem;
}

.request-link.request-telegram:hover {
  background-color: #4dbce6;
}

.request-link:hover {
  color: #ffffff;
}

.request-divider {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

.request-divider span {
  display: inline-block;
  position: relative;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}

.request-divider span::before, .request-divider span::after {
  position: absolute;
  content: '';
  top: 50%;
  height: 0;
  width: 100%;
  border-top: 1px solid #FFA6BB;
  border-top: 1px solid #DCE2F0;
}

.request-divider span::before {
  left: -100%;
}

.request-divider span::after {
  right: -100%;
}

.request-email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request-email form .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 0;
  margin-right: 1rem;
}

.request-email form .btn-submit {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 9.125rem;
  line-height: 1.25;
}

.request-card-2 .request-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  height: 5rem;
  padding: 1.125rem;
  border-radius: 0.5rem;
}

.request-card-2 .request-link img {
  width: 100%;
  margin-right: 0;
}

.request-card-2 .request-link.request-telegram {
  padding: 1rem;
}

.request-card-2 .request-divider span::before, .request-card-2 .request-divider span::after {
  display: none;
}

@media screen and (max-width: 575px) {
  .request-card h3 {
    margin-bottom: 1rem;
  }
  .request-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .request-link.request-viber {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .request-link.request-telegram {
    margin-left: 0;
  }
  .request-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .request-divider span::before, .request-divider span::after {
    display: none;
  }
  .request-email form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .request-email form .form-group {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .request-email form .btn-submit {
    max-width: 100%;
  }
  .request-card-2 h3 {
    margin-bottom: 0.5rem;
  }
  .request-card-2 .request-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0.25rem;
  }
  .request-card-2 .request-link.request-viber {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  .request-card-2 .request-link.request-telegram {
    margin-left: 0.5rem;
  }
  .request-card-2 .request-divider {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

.slider-card {
  display: block;
}

.slider-card img {
  max-width: 100%;
  border-radius: 0.25rem;
}

.slider-card p {
  margin-top: 0.875rem;
  margin-bottom: 0;
  text-align: left;
}

.slider-wrapper .lSAction > a {
  position: absolute;
  top: 64px;
  width: 16px;
  height: 32px;
  margin-top: 0;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-wrapper .lSAction > a:active {
  top: 65px;
}

.slider-wrapper .lSAction > a.lSPrev {
  left: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='32' viewBox='0 0 15 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 30L2 15.4717L13 2' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
}

.slider-wrapper .lSAction > a.lSNext {
  right: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='32' viewBox='0 0 15 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L13 16.5283L2 30' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
}

@media screen and (max-width: 1199px) {
  .slider-wrapper .lSAction > a.lSPrev, .slider-wrapper .lSAction > a.lSNext {
    top: 50px;
  }
}

@media screen and (max-width: 991px) {
  .slider-wrapper .lSAction > a.lSPrev, .slider-wrapper .lSAction > a.lSNext {
    top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .slider-wrapper .lSAction > a.lSPrev, .slider-wrapper .lSAction > a.lSNext {
    top: 110px;
  }
}

@media screen and (max-width: 575px) {
  .slider-wrapper .lSAction > a.lSPrev, .slider-wrapper .lSAction > a.lSNext {
    top: 64px;
  }
}

.accordion {
  margin-top: 1.375rem;
}

.accordion-card {
  border-bottom: 1px solid #DCE2F0;
}

.accordion-card:first-of-type {
  border-top: 1px solid #DCE2F0;
}

.accordion-card-title a {
  display: block;
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.5V17.5' stroke='%23FFA6BB' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 9H0.5' stroke='%23FFA6BB' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") left 0.25rem top 1.1875rem no-repeat;
}

.accordion-card-title a:hover {
  color: #FFA6BB;
}

.accordion-card-title a[aria-expanded="true"] {
  color: #FFA6BB;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 9H0.5' stroke='%23FFA6BB' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.accordion-card-content {
  padding-bottom: 1rem;
}

.accordion-card-content p:last-of-type {
  margin-bottom: 0;
}

.pagination-wrapper .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-wrapper .pagination .page-item:not(:last-child) {
  margin-right: 0.5rem;
}

.pagination-wrapper .pagination .page-item .page-link {
  width: 3rem;
  height: 3rem;
  margin-left: 0;
  padding: 0;
  border: 0;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  line-height: 3rem;
  color: #000000;
  text-align: center;
  background-color: #DCE2F0;
}

.pagination-wrapper .pagination .page-item:hover .page-link {
  background-color: #F3F5FA;
}

.pagination-wrapper .pagination .page-item.active .page-link {
  background-color: #FFA6BB;
}

@media screen and (max-width: 359px) {
  .pagination-wrapper .pagination .page-item:not(:last-child) {
    margin-right: 0.25rem;
  }
}

.rating-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.rating-input.filled {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.rating-input label, .rating-input .rating-star {
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.0410156L12.9389 5.99593L19.5106 6.95085L14.7553 11.5861L15.8779 18.1312L10 15.041L4.12215 18.1312L5.24472 11.5861L0.489435 6.95085L7.06107 5.99593L10 0.0410156Z' fill='%23DCE2F0'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.rating-input label:hover:not(.rating-star), .rating-input label:hover:not(.rating-star) ~ label, .rating-input label.filled, .rating-input .rating-star:hover:not(.rating-star), .rating-input .rating-star:hover:not(.rating-star) ~ label, .rating-input .rating-star.filled {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.0410156L12.9389 5.99593L19.5106 6.95085L14.7553 11.5861L15.8779 18.1312L10 15.041L4.12215 18.1312L5.24472 11.5861L0.489435 6.95085L7.06107 5.99593L10 0.0410156Z' fill='%23FBE7C6'/%3E%3C/svg%3E");
}

.rating-input label {
  cursor: pointer;
}

.rating-input .rating-result {
  padding-top: 2px;
  padding-left: 4px;
}

.rating-input input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  z-index: 0;
}

.rating-input input:checked ~ label {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.0410156L12.9389 5.99593L19.5106 6.95085L14.7553 11.5861L15.8779 18.1312L10 15.041L4.12215 18.1312L5.24472 11.5861L0.489435 6.95085L7.06107 5.99593L10 0.0410156Z' fill='%23FBE7C6'/%3E%3C/svg%3E");
}

.reviews h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.reviews .pagination-wrapper {
  padding-top: 2rem;
}

.review {
  margin-bottom: 2rem;
}

.review .review-meta {
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #DCE2F0;
}

.review .review-meta time {
  padding-left: 1rem;
  color: #8792AB;
}

.review .rating-input {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.review .review-img {
  font-size: 0;
}

.review .review-img img {
  max-width: 88px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.reviews-form-wrapper {
  margin-bottom: 1rem;
}

.reviews-form-wrapper .btn[aria-expanded="true"] {
  display: none;
}

.reviews-form h3, .reviews-form .h3-mobile {
  margin-bottom: 0.75rem;
}

.reviews-form input[type="file"] {
  display: none;
}

.reviews-form .form-group {
  margin-bottom: 0.625rem;
}

.reviews-form label {
  margin-bottom: 0.25rem;
}

.reviews-form .rating-input {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.reviews-form .reviews-file {
  margin-top: 0.875rem;
  margin-bottom: 0.75rem;
  padding: 1rem;
  border: 1px solid #DCE2F0;
  border-radius: 0.5rem;
}

.reviews-form .reviews-file p {
  margin-bottom: 0.5rem;
}

.reviews-form .reviews-file p.reviews-file-last {
  color: #8792AB;
}

.reviews-form .reviews-file .form-group {
  margin-bottom: 0;
}

.reviews-form .reviews-file .btn-upload {
  max-width: 255px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .reviews .pagination-wrapper {
    padding-top: 0;
  }
  .reviews-form .reviews-file .btn-upload {
    max-width: none;
  }
}

#back-to-top {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.3125rem;
  background-color: #FFA6BB;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 21L16 8L29 21' stroke='%23000000' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#back-to-top.visible {
  visibility: visible;
  opacity: 0.75;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#back-to-top:hover {
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #back-to-top {
    bottom: 1rem;
    left: 1rem;
  }
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-bottom: 4rem;
}

@media screen and (max-width: 575px) {
  .main-content {
    padding-bottom: 2rem;
  }
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #F3F5FA;
  background-color: #ffffff;
  z-index: 1000;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-logo {
  margin-right: 2.5rem;
}

.header-item {
  position: relative;
}

.header-item > a {
  display: inline-block;
  padding: 0.5rem 0;
  line-height: 1.3;
}

.header-item > a svg {
  stroke: #8792AB;
  position: relative;
  top: 2px;
  margin-left: 3px;
  vertical-align: inherit;
}

.header-item > a::after {
  display: none;
  position: absolute;
  content: '';
  bottom: -12px;
  right: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #FFA6BB;
}

.header-item > a.active {
  color: #FFA6BB;
}

.header-item > a:hover::after, .header-item > a.active::after, .header-item > a[aria-expanded="true"]::after {
  display: block;
}

.header-item > a:hover, .header-item > a[aria-expanded="true"] {
  color: #FFA6BB;
}

.header-item > a:hover svg, .header-item > a[aria-expanded="true"] svg {
  stroke: #FFA6BB;
}

.header-item.dropdown-hover > a::before {
  position: absolute;
  content: '';
  bottom: -1.25rem;
  left: 0;
  right: 0;
  height: 1.25rem;
}

.header-item.dropdown-hover .dropdown-select {
  width: 873px;
  margin-top: 1.25rem;
  padding: 1.5rem;
  border-color: #FFA6BB;
  border-radius: 0.5rem;
}

.header-item.dropdown-hover .dropdown-select .dropdown-item {
  padding: 0.25rem 0;
}

.header-item.dropdown-hover .dropdown-select .dropdown-item-text {
  padding: 1.25rem 0 0.25rem;
}

.header-item.dropdown-hover .dropdown-select .dropdown-item-text.dropdown-text-first {
  padding: 0 0 0.25rem;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav > li:not(:last-child) {
  margin-right: 2rem;
}

.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.6875rem;
}

.social-phone {
  margin-right: 1.25rem;
}

.social-phone a {
  font-weight: 500;
}

.social-item:not(:last-of-type) {
  margin-right: 0.4375rem;
}

.social-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.4375rem;
  border-radius: 3px;
}

.social-item a img {
  max-width: 100%;
}

.social-viber a {
  background-color: #834995;
}

.social-viber a:hover {
  background-color: #744184;
}

.social-telegram a {
  background-color: #63C4E9;
}

.social-telegram a:hover {
  background-color: #4dbce6;
}

.social-facebook a {
  background-color: #3B60A5;
}

.social-facebook a:hover {
  background-color: #345592;
}

.social-instagram a {
  background: radial-gradient(208.48% 208.48% at -10.93% 135.05%, #F9ED41 0%, #FF833D 24.12%, #EE5568 40.1%, #E7407B 48.88%, #0028FF 100%);
}

.social-instagram a:hover {
  background: radial-gradient(208.48% 208.48% at -10.93% 135.05%, #f8eb28 0%, #ff7324 24.12%, #ec3e53 40.1%, #e4296b 48.88%, #0024e6 100%);
}

.select-menu:not(:last-of-type) {
  margin-right: 1.5625rem;
}

.mobile-nav {
  display: none;
}

.mobile-nav .navbar-collapse {
  position: absolute;
  width: 100%;
  margin-top: 0.375rem;
  left: 0;
  padding: 0 0.9375rem;
  text-align: center;
  z-index: 100;
  overflow-x: hidden;
  background-color: #ffffff;
}

.mobile-nav .mobile-item {
  border-bottom: 1px solid #F3F5FA;
}

.mobile-nav .mobile-link {
  display: inline-block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mobile-nav .mobile-link.mobile-link-submenu.right-arrow {
  background-position: right 2px center;
}

.mobile-nav .mobile-link.mobile-link-submenu.left-arrow {
  background-position: left 2px center;
}

.mobile-nav .mobile-link.active {
  color: #FFA6BB;
}

.mobile-menu-wrapper {
  max-width: 20.625rem;
  margin: 0 auto;
  padding-top: 2.5rem;
  height: calc(100vh - 3.5rem);
}

.mobile-button.navbar-toggler {
  position: relative;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  border: 0;
  vertical-align: middle;
  background-color: #ffffff;
}

.mobile-button.navbar-toggler .nav-opener {
  position: absolute;
  width: 24px;
  height: 20px;
  top: 14px;
  left: 12px;
}

.mobile-button.navbar-toggler .nav-opener span, .mobile-button.navbar-toggler .nav-opener::before, .mobile-button.navbar-toggler .nav-opener::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #172A3A;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.mobile-button.navbar-toggler .nav-opener::before {
  content: '';
  top: 9px;
}

.mobile-button.navbar-toggler .nav-opener::after {
  content: '';
  top: 18px;
}

.mobile-button.navbar-toggler[aria-expanded="true"] .nav-opener span {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-button.navbar-toggler[aria-expanded="true"] .nav-opener::before {
  opacity: 0;
}

.mobile-button.navbar-toggler[aria-expanded="true"] .nav-opener::after {
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.select-menu-mobile {
  text-align: left;
}

.select-menu-mobile > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 0.875rem 1rem 0.875rem 1.5rem;
  line-height: 1;
  border: 2px solid #DCE2F0;
  border-radius: 0.25rem;
}

.select-menu-mobile > a[aria-expanded="true"], .select-menu-mobile > a:hover {
  color: #000000;
}

.select-menu-mobile > a > svg {
  stroke: #8792AB;
}

.select-menu-mobile .dropdown-menu.dropdown-select {
  width: 100%;
  margin-top: 0.4375rem;
}

.main-mobile-nav {
  padding-top: 1.875rem;
}

.mobile-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.125rem;
}

.mobile-lang li:not(:last-child) {
  margin-right: 1.3125rem;
}

.mobile-lang a.active {
  font-weight: 700;
  color: #FFA6BB;
}

.mobile-contacts {
  padding: 1.0625rem 0 0;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.0625rem;
}

.mobile-social .social-item:not(:last-of-type) {
  margin-right: 0.875rem;
}

.mobile-social .social-item a {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.75rem;
  border-radius: 6px;
}

.mobile-contacts-nav {
  padding-top: 2rem;
  padding-bottom: 7rem;
}

.mobile-contacts-nav .social-phone {
  margin-right: 0;
}

.mobile-contacts-nav .social-phone:not(:last-of-type) {
  margin-bottom: 0.625rem;
}

.mobile-catalog {
  position: fixed;
  width: 100%;
  height: calc(100vh - 3.625rem);
  left: 0;
  top: 3.625rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #ffffff;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-y: scroll;
}

.mobile-catalog.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1199px) {
  .main-nav, .select-menu {
    display: none;
  }
  .social-menu {
    margin-right: 0.625rem;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .mobile-nav .navbar-collapse {
    margin-top: 0.25rem;
  }
  .contacts-nav {
    display: none;
  }
}

.breadcrumb-wrapper .breadcrumb {
  margin-bottom: 0;
  padding: 1rem 0 0.75rem;
  background-color: transparent;
}

.breadcrumb-wrapper .breadcrumb-item {
  font-size: 0.875rem;
}

.breadcrumb-wrapper .breadcrumb-item > a:hover, .breadcrumb-wrapper .breadcrumb-item.active {
  color: #FFA6BB;
}

.breadcrumb-wrapper .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

.breadcrumb-wrapper .breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.breadcrumb-wrapper .breadcrumb-item:not(.active) {
  margin-bottom: 0.25rem;
  padding-right: 0.375rem;
}

.breadcrumb-wrapper .breadcrumb-item:not(.active)::after {
  float: right;
  content: '\2022';
  padding-left: 0.375rem;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #FFA6BB;
}

.aside {
  padding-top: 4.5rem;
}

.aside .aside-title {
  margin-left: 0.8125rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-weight: 700;
  border-bottom: 2px solid #DCE2F0;
}

.aside .aside-menu {
  padding-top: 0.75rem;
  padding-bottom: 1.25rem;
}

.aside .aside-menu a {
  display: block;
  padding: 0.75rem 0.8125rem;
  padding-right: 0.25rem;
  border-radius: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.aside .aside-menu a:hover {
  color: #000000;
  background-color: #FFA6BB;
}

.aside .aside-menu a.active {
  background-color: #FFA6BB;
}

.aside .aside-menu a.has-submenu {
  position: relative;
}

.aside .aside-menu a.has-submenu::after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14.834L10.4 9.43398C10.9133 8.92065 10.9133 8.08065 10.4 7.56731L5 2.16732' stroke='%23DCE2F0' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.aside .aside-menu a.has-submenu:hover::after, .aside .aside-menu a.has-submenu.active::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14.834L10.4 9.43398C10.9133 8.92065 10.9133 8.08065 10.4 7.56731L5 2.16732' stroke='%23FFFFFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.aside .aside-menu a.has-submenu[aria-expanded="true"]::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.aside .aside-menu .aside-submenu {
  margin-left: 0.8125rem;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #DCE2F0;
}

.aside .request-card.request-card-2 {
  padding: 1rem;
  text-align: left;
}

.aside .request-card.request-card-2 .request-contacts {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aside .request-card.request-card-2 .request-divider span {
  padding: 0;
}

.aside .request-card.request-card-2 .request-email form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside .request-card.request-card-2 .request-email form .form-group {
  margin-right: 0;
  margin-bottom: 1rem;
}

.aside .request-card.request-card-2 .request-email form .btn-submit {
  max-width: 100%;
}

.item-gallery img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.item-gallery-loop {
  margin-top: 1.875rem;
}

.item-description {
  margin-top: 1.625rem;
}

.item-delivery {
  margin-top: 1.25rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #F3F5FA;
}

.item-delivery h3 {
  margin-bottom: 1rem;
}

.item-delivery-card {
  padding-left: 3rem;
  background-position: left top;
  background-repeat: no-repeat;
}

.item-delivery-card:not(:last-of-type) {
  margin-bottom: 1rem;
}

.item-delivery-card p {
  margin-bottom: 0;
}

.item-delivery-card p.item-delivery-title {
  margin-bottom: 0.5rem;
}

.item-delivery-card.card-self-pickup {
  background-image: url("/img/page/card-self-pickup.svg");
}

.item-delivery-card.card-courier {
  background-image: url("/img/page/card-courier.svg");
}

.item-payment {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border: 2px solid #DCE2F0;
  border-radius: 0.5rem;
}

.item-payment h3 {
  margin-bottom: 1rem;
}

.item-payment p {
  margin-bottom: 0;
}

.item-payment p:last-of-type {
  margin-top: 1rem;
}

.item-amount {
  display: inline-block;
  margin-top: 1.625rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #FFF8F8;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .item .request-email form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item .request-email form .form-group {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .item .request-email form .btn-submit {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .item-gallery-loop {
    margin-top: 1.125rem;
  }
  .item-gallery-loop.row {
    margin-left: -9px;
    margin-right: -9px;
  }
  .item-gallery-loop.row > [class^="col"] {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media screen and (max-width: 767px) {
  .item-description {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .item-delivery {
    margin-top: 2rem;
  }
  .item-payment {
    margin-top: 2rem;
  }
  .item-amount {
    margin-top: 1rem;
  }
}

.main-footer {
  padding: 2rem 0 5.375rem;
  color: #F3F5FA;
  background-color: #000000;
}

.main-footer a {
  color: #F3F5FA;
}

.footer-widget .widget-title {
  font-weight: 700;
}

.footer-widget .widget-title a {
  display: inline-block;
}

.footer-widget .footer-list > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-widget.footer-menu .widget-title {
  margin-bottom: 1.5rem;
}

.footer-widget.footer-menu .footer-list > li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer-widget .footer-item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-widget .footer-item-social > a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer-widget .footer-item-social .social-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0;
}

.footer-widget .footer-item-social .social-item {
  margin-right: 0;
  margin-left: 0.4375rem;
}

.footer-widget .footer-item-social .social-item a {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.25rem;
}

.footer-widget .footer-social-menu {
  margin-top: 0.9375rem;
}

@media screen and (max-width: 991px) {
  .footer-widget.footer-menu .widget-title {
    margin-bottom: 1.3125rem;
  }
  .footer-widget.footer-menu .footer-list a {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 767px) {
  .main-footer {
    padding-bottom: 0.625rem;
  }
  .footer-widget {
    margin-bottom: 1.875rem;
  }
}

.homepage-header {
  padding-top: 1.5rem;
}

.homepage-header h1 {
  text-align: center;
}

.homepage-list {
  padding-top: 1.5rem;
}

.city-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.city-item .city-img {
  margin-bottom: 0.625rem;
}

.city-item img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.city-item .city-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.city-item .city-list {
  border-top: 2px solid #FFA6BB;
}

.city-item .city-list li {
  border-bottom: 1px solid #DCE2F0;
}

.city-item .city-list li a {
  display: block;
  padding: 1rem 0;
}

.city-item .city-list li a:hover {
  background-color: #F3F5FA;
}

.homepage-content h1, .homepage-content h2, .homepage-content h3 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .city-item-wrapper:not(:last-of-type) {
    margin-bottom: 1.875rem;
  }
}

.landing-header {
  padding-top: 3.75rem;
  padding-bottom: 6.875rem;
  text-align: center;
  background-color: #E6EAF5;
  background-image: url("../img/landing/landing-header-1.jpg"), url("../img/landing/landing-header-2.jpg");
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.landing-header .request-card {
  margin-top: 1.5rem;
}

.landing-header .request-divider span::before, .landing-header .request-divider span::after {
  border-color: #FFA6BB;
}

.landing-title span {
  display: block;
}

.landing-title .h1 {
  margin-bottom: 1.25rem;
}

.landing-catalog {
  padding-top: 4rem;
  padding-bottom: 2.125rem;
  text-align: center;
}

.landing-catalog h2 {
  margin-bottom: 1.875rem;
}

.landing-catalog.page-tastes {
  padding-bottom: 0;
}

.landing-tastes {
  padding-top: 1.4375rem;
  padding-bottom: 1.9375rem;
  text-align: center;
}

.landing-tastes h2 {
  margin-bottom: 2rem;
}

.landing-tastes .btn-submit {
  width: 100%;
  max-width: 20.625rem;
  padding: 0.5625rem 1.5rem 0.4375rem;
}

.landing-tastes.page-tastes {
  padding-top: 0;
  padding-bottom: 1rem;
}

.landing-tastes.page-tastes h1 {
  margin-bottom: 1.5rem;
}

.landing-tastes.landing-cupcake {
  padding-top: 1.125rem;
  padding-bottom: 0.9375rem;
}

.landing-tastes.landing-cupcake .taste-card {
  padding-bottom: 1.5rem;
  text-align: left;
}

.landing-tastes.landing-cupcake .taste-content .taste-title {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.landing-order {
  padding-top: 4rem;
}

.landing-order h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.landing-card {
  padding-bottom: 4rem;
  border-bottom: 2px solid #F3F5FA;
}

.landing-card .price-card {
  margin-bottom: 1.875rem;
}

.landing-card .request-card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-size {
  padding-top: 1.5rem;
}

.landing-size h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.landing-content {
  padding-top: 4rem;
}

.landing-content h1, .landing-content h2, .landing-content h3 {
  margin-bottom: 1rem;
}

.landing-reviews {
  padding-top: 4rem;
}

@media screen and (max-width: 1199px) {
  .landing-card .request-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-card .request-link.request-viber {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .landing-card .request-link.request-telegram {
    margin-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .landing-header {
    background-color: #F3F5FA;
    background-image: none;
  }
  .landing-card .request-email form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-card .request-email form .form-group {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .landing-card .request-email form .btn-submit {
    max-width: 100%;
  }
  .landing-card .delivery-option {
    height: auto;
  }
  .landing-card .delivery-option.delivery-option-last {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .landing-header {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .landing-header .request-card {
    margin-top: 1.25rem;
  }
  .landing-catalog {
    padding-top: 2rem;
    padding-bottom: 1.0625rem;
  }
  .landing-catalog h2 {
    margin-bottom: 0.9375rem;
  }
  .landing-tastes {
    padding-top: 1.875rem;
    padding-bottom: 0.9375rem;
  }
  .landing-tastes.page-tastes {
    padding-bottom: 0;
  }
  .landing-tastes h2 {
    margin-bottom: 1.5rem;
  }
  .landing-order {
    padding-top: 2rem;
  }
  .landing-order.page-tastes {
    padding-top: 1rem;
  }
  .landing-card {
    padding-bottom: 2rem;
  }
  .landing-card .price-card {
    margin-bottom: 1.5rem;
  }
  .landing-card .landing-delivery {
    margin-bottom: 1.5rem;
  }
  .landing-card .delivery-option {
    height: 100%;
  }
  .landing-card .delivery-option.delivery-option-last {
    margin-top: 0;
  }
  .landing-size {
    padding-top: 0.5rem;
  }
  .landing-content {
    padding-top: 2rem;
  }
  .landing-reviews {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .landing-card .delivery-option {
    height: auto;
  }
  .landing-card .delivery-option.delivery-option-last {
    margin-top: 1.25rem;
  }
  .landing-tastes.page-tastes {
    padding-bottom: 1.5rem;
  }
  .landing-tastes.landing-cupcake .taste-card {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.catalog {
  text-align: center;
}

.catalog .h1 {
  display: inline-block;
  margin-bottom: 2.125rem;
}

.catalog .catalog-card {
  text-align: left;
}

.category-request {
  padding-top: 1.5rem;
}

.slider-viewed {
  padding-top: 2rem;
  text-align: center;
}

.slider-viewed h2 {
  margin-bottom: 1.875rem;
}

.category-content.landing-content {
  padding-top: 2rem;
}

.modal.filter-modal .modal-title {
  font-size: 1.5rem;
}

.modal.filter-modal .modal-content {
  border: 0;
}

.modal.filter-modal .modal-header {
  border-bottom: 0;
}

.modal.filter-modal .modal-header .close {
  opacity: 1;
}

.modal.filter-modal .filter-catalog > li {
  border-bottom: 1px solid #F3F5FA;
}

.modal.filter-modal .filter-catalog .filter-link {
  display: inline-block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.modal.filter-modal .filter-catalog .filter-link.right-arrow {
  background-position: right 2px center;
}

.modal.filter-modal .filter-catalog .filter-link.active {
  background-color: #F3F5FA;
  background-image: none;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  .catalog .h1 {
    margin-bottom: 1.5rem;
  }
  .category-filter-wrapper {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .slider-viewed h2 {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  .modal.filter-modal .modal-dialog {
    margin: 0;
  }
  .modal.filter-modal .modal-content {
    min-height: 100vh;
    border-radius: 0;
  }
}

.page-header {
  padding-bottom: 0.8125rem;
}

.page-header h1 {
  margin-bottom: 1.625rem;
}

.page-slider.slider-viewed {
  padding-top: 4rem;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-bottom: 0;
  }
  .page-header h1 {
    margin-bottom: 1rem;
  }
  .page-slider.slider-viewed {
    padding-top: 2rem;
  }
  .cupcake-slider.slider-viewed {
    padding-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */