// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// font family
// font-family: 'IBM Plex Serif', serif;
// font-family: 'Inter', sans-serif;
$font-main: 'Inter', sans-serif;
$font-title: 'IBM Plex Serif', serif;

// colors
$color-black: #000000;
$color-white: #ffffff;
$color-pink: #FFA6BB;
$color-light-pink: #FFF8F8;
$color-grey: #DCE2F0;
$color-dark-grey: #8792AB;
$color-grey-grey: #F3F5FA;
$color-mint: #DAFFE5;
$color-tiffani-blue: #A0E7E5;

$color-viber: #834995;
$color-telegram: #63C4E9;
$color-facebook: #3B60A5;


// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
