// -----------------------------------------------------------------------------
// This file contains all styles related to the cards component.
// -----------------------------------------------------------------------------

// catalog card
.catalog-card {
  display: block;
  margin-bottom: 1.875rem;
  text-align: center;

  img {
    max-width: 100%;
    border-radius: 0.5rem;
  }

  h3 {
    margin-top: 1.4375rem;
    margin-bottom: 0;
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}

@include until($md) {
  .catalog-card {
    margin-bottom: 0.9375rem;

    h3 {
      margin-top: 0.625rem;
    }
  }
}

@include until($sm) {
  .cards-wrapper {
    &.row {
      margin-right: -7px;
      margin-left: -7px;

      & > [class^="col-"] {
        padding-left: 7px;
        padding-right: 7px;
      }
    }
  }
}

// taste card
.taste-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  text-align: center;

  img {
    max-width: 100%;
    border-radius: 0.5rem;
  }
}

.taste-img {
  margin-bottom: 1rem;
}

.taste-content {
  .taste-title {
    font-size: 1.125rem;
    font-weight: 700;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include until($sm) {
  .taste-card {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1.5rem;
    text-align: left;

    &:not(.taste-card-last) {
      margin-bottom: 1.5rem;
      border-bottom: 2px solid $color-grey;
    }
  }

  .taste-img {
    width: 6.25rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

// price card
.price-card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: $color-mint;

  h3 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
  }

  .price-card-subtitle {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .price-card-info {
    margin-bottom: 0;

    span {
      display: inline-block;
      padding: 0.875rem 0.75rem 0.8125rem 0.75rem;
      font-size: 1.125rem;
      border-radius: 0.5rem;
      background-color: $color-tiffani-blue;
    }
  }
}

// landing-delivery
.landing-delivery {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: $color-light-pink;

  h3 {
    margin-bottom: 1rem;
  }
}

.delivery-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.625rem 1.75rem;
  border: 2px solid $color-pink;
  border-radius: 0.25rem;
  text-align: center;

  p {
    margin-bottom: 0;

    &:last-child {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}

@include until($md) {
  .price-card {
    padding: 1rem;

    h3 {
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
    }

    .price-card-subtitle {
      font-size: 1.125rem;
    }
  }

  .landing-delivery {
    padding: 1rem;
  }
}

@include until($sm) {
  .landing-delivery {
    h3 {
      margin-bottom: 1.25rem;
    }
  }

  .delivery-option {
    height: auto;
    padding: 1.5rem 1rem;

    &.delivery-option-last {
      margin-top: 1.25rem;
    }
  }
}

// taste page card
.taste-page-card {
  padding-bottom: 1.5rem;
  text-align: center;

  img {
    max-width: 100%;
    border-radius: 0.5rem;
  }
}

.taste-page-img {
  margin-bottom: 1rem;
}

.taste-page-content {
  .taste-page-title {
    font-size: 1.125rem;
    font-weight: 700;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }  
  }
}

@include until($sm) {
  .taste-page-card {
    padding-bottom: 1.875rem;

    &.taste-page-card-last {
      padding-bottom: 0;  
    }
  }
}

// size card
.size-card {
  height: 100%;
  text-align: center;

  p {
    margin-bottom: 0;

    &:first-of-type {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      font-weight: 700;
    }
  }
}

.size-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15.9375rem;
  padding: 1rem;
  border-radius: 0.5625rem;
  background-color: $color-grey-grey;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@include until($xl) {
  .size-img {
    height: 13.125rem;
  }
}

@include until($lg) {
  .size-img {
    height: 9.375rem;
  }
}

@include until($md) {
  .size-card {
    margin-bottom: 1rem;
  }

  .size-img {
    height: 15rem;
  }
}

@include until($sm) {
  .size-cards {
    .col-6 {
      &:nth-child(2n-1) {
        padding-right: 0.4375rem;
        text-align: right;
      }

      &:nth-child(2n) {
        padding-left: 0.4375rem;
        text-align: left;
      }
    }
  }

  .size-card {
    display: inline-block;
    width: 100%;
    max-width: 9.875rem;
  }

  .size-img {
    max-width: 9.875rem;
    height: 9.875rem;
  }
}
