// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------

.form-control {
  &.form-input, &.form-textarea {
    padding: 0.5rem 1.5rem;
    color: $color-black;
    border: 2px solid $color-grey;
    border-radius: 0.25rem;
    background-color: $color-white;
    text-overflow: ellipsis;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-grey, 0.25);
    }
  }

  &.form-input {
    height: 3rem;
  }
}

.form-input, .form-textarea {
  @include placeholder {
    color: $color-dark-grey;
  }
}

.btn {
  &.btn-submit, &.btn-upload {
    height: 3rem;
    padding: 0.5rem 1.5rem;
    color: $color-black;
    font-size: 1.125rem;
  }

  &.btn-submit {
    background-color: $color-pink;

    &:hover {
      background-color: #FF7495;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-pink, 0.25);
    }
  }

  &.btn-upload {
    background-color: $color-grey;
  }
}

.select-dropdown-wrapper, .select-menu-mobile {
  text-align: left;

  & > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.875rem 1rem 0.875rem 1.5rem;
    line-height: 1;
    border: 2px solid $color-grey;
    border-radius: 0.25rem;

    &[aria-expanded="true"], &:hover {
      color: $color-black;
    }

    & > svg {
      stroke: $color-dark-grey;
    }
  }

  .dropdown-menu.dropdown-select {
    width: 100%;
    margin-top: 0.4375rem;
  }
}
