// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.overflow-y-hidden {
  overflow-y: hidden;
}

ul.ul-content {
  margin-bottom: 1rem;
  padding-left: 28px;

  li {
    list-style: disc;
  }
}

.bkgr-grey-grey {
  background-color: $color-grey-grey;
}