// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.overflow-y-hidden {
  overflow-y: hidden;
}

ul.ul-content {
  margin-bottom: 1rem;
  padding-left: 28px;

  li {
    list-style: disc;
  }
}

.bkgr-grey-grey {
  background-color: $color-grey-grey;
}

.left-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1.6665L5.60002 7.06651C5.08668 7.57984 5.08668 8.41984 5.60002 8.93318L11 14.3332' stroke='%238792AB' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.right-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14.3335L10.4 8.93349C10.9133 8.42016 10.9133 7.58016 10.4 7.06682L5 1.66683' stroke='%238792AB' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}