// -----------------------------------------------------------------------------
// This file contains all styles related to the category page of the site.
// -----------------------------------------------------------------------------

.catalog {
  text-align: center;

  .h1 {
    display: inline-block;
    margin-bottom: 2.125rem;
  }

  .catalog-card {
    text-align: left;
  }
}

.category-request {
  padding-top: 1.5rem;
}

.slider-viewed {
  padding-top: 2rem;
  text-align: center;

  h2 {
    margin-bottom: 1.875rem;
  }
}

.category-content {
  &.landing-content {
    padding-top: 2rem;
  }
}

@include until($md) {
  .catalog .h1 {
    margin-bottom: 2rem;
  }

  .slider-viewed {
    h2 {
      margin-bottom: 1.5rem;
    }
  }
}