// -----------------------------------------------------------------------------
// This file contains all styles related to the landing (city, tastes, cupcake) of the site.
// -----------------------------------------------------------------------------

.landing-header {
  padding-top: 3.75rem;
  padding-bottom: 6.875rem;
  text-align: center;
  background-color: #E6EAF5;
  background-image: url('../img/landing/landing-header-1.jpg'), url('../img/landing/landing-header-2.jpg');
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;

  .request-card {
    margin-top: 1.5rem;
  }

  .request-divider span {
    &::before, &::after {
      border-color: $color-pink;
    }
  }
}

.landing-title {
  span {
    display: block;
  }

  .h1 {
    margin-bottom: 1.25rem;
  }
}

.landing-catalog {
  padding-top: 4rem;
  padding-bottom: 2.125rem;
  text-align: center;

  h2 {
    margin-bottom: 1.875rem;
  }

  &.page-tastes {
    padding-bottom: 0;
  }
}

.landing-tastes {
  padding-top: 1.4375rem;
  padding-bottom: 1.9375rem;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
  }

  .btn-submit {
    width: 100%;
    max-width: 20.625rem;
    padding: 0.5625rem 1.5rem 0.4375rem;
  }

  &.page-tastes {
    padding-top: 0;
    padding-bottom: 1rem;

    h1 {
      margin-bottom: 1.5rem;
    }
  }

  &.landing-cupcake {
    padding-top: 1.125rem;
    padding-bottom: 0.9375rem;

    .taste-card {
      padding-bottom: 1.5rem;
      text-align: left;
    }

    .taste-content .taste-title {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }
}

.landing-order {
  padding-top: 4rem;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.landing-card {
  padding-bottom: 4rem;
  border-bottom: 2px solid $color-grey-grey;

  .price-card {
    margin-bottom: 1.875rem;
  }

  .request-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.landing-size {
  padding-top: 1.5rem;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.landing-content {
  padding-top: 4rem;

  h1, h2, h3 {
    margin-bottom: 1rem;
  }
}

@include until($xl) {
  .landing-card {
    .request-contacts {
      flex-direction: column;
    }

    .request-link {
      &.request-viber {
        margin-right: 0;
        margin-bottom: 1rem;
      }
  
      &.request-telegram {
        margin-left: 0;
      }
    }
  }
}

@include until($lg) {
  .landing-header {
    background-color: $color-grey-grey;
    background-image: none;
  }

  .landing-card {
    .request-email {
      form {
        flex-direction: column;
  
        .form-group {
          margin-right: 0;
          margin-bottom: 1rem;
        }
  
        .btn-submit {
          max-width: 100%;
        }
      }
    }

    .delivery-option {
      height: auto;

      &.delivery-option-last {
        margin-top: 1.25rem;
      }
    }
  }
}

@include until($md) {
  .landing-header {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;

    .request-card {
      margin-top: 1.25rem;
    }
  }

  .landing-catalog {
    padding-top: 2rem;
    padding-bottom: 1.0625rem;

    h2 {
      margin-bottom: 0.9375rem;
    }
  }

  .landing-tastes {
    padding-top: 1.875rem;
    padding-bottom: 0.9375rem;

    &.page-tastes {
      padding-bottom: 0;
    }

    h2 {
      margin-bottom: 1.5rem;
    }
  }

  .landing-order {
    padding-top: 2rem;

    &.page-tastes {
      padding-top: 1rem;
    }
  }

  .landing-card {
    padding-bottom: 2rem;

    .price-card {
      margin-bottom: 1.5rem;
    }

    .landing-delivery {
      margin-bottom: 1.5rem;
    }

    .delivery-option {
      height: 100%;

      &.delivery-option-last {
        margin-top: 0;
      }
    }
  }

  .landing-size {
    padding-top: 0.5rem;
  }

  .landing-content {
    padding-top: 2rem;
  }
}

@include until($sm) {
  .landing-card {
    .delivery-option {
      height: auto;
      
      &.delivery-option-last {
        margin-top: 1.25rem;
      }
    }
  }

  .landing-tastes {
    &.page-tastes {
      padding-bottom: 1.5rem;
    }

    &.landing-cupcake {
      .taste-card {
        justify-content: flex-start;
      }
    }
  }
}
