// -----------------------------------------------------------------------------
// This file contains all styles related to the aside of the site/application.
// -----------------------------------------------------------------------------

.aside {
  padding-top: 4.5rem;

  .aside-title {
    margin-left: 0.8125rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-weight: 700;
    border-bottom: 2px solid $color-grey;
  }

  .aside-menu {
    padding-top: 0.75rem;
    padding-bottom: 1.25rem;

    a {
      display: block;
      padding: 0.75rem 0.8125rem;
      padding-right: 0.25rem;
      border-radius: 0.5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      transition: all 0.3s ease;

      &:hover {
        color: $color-black;
        background-color: $color-pink;
      }

      &.active {
        background-color: $color-pink;
      }

      &.has-submenu {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          top: 50%;
          transform: translateY(-50%);
          right: 0.5rem;
          width: 1rem;
          height: 1rem;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14.834L10.4 9.43398C10.9133 8.92065 10.9133 8.08065 10.4 7.56731L5 2.16732' stroke='%23DCE2F0' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
          transition: transform 0.2s ease-out;
        }

        &:hover, &.active {
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14.834L10.4 9.43398C10.9133 8.92065 10.9133 8.08065 10.4 7.56731L5 2.16732' stroke='%23FFFFFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }

        &[aria-expanded="true"] {
          &::after {
            transform: translateY(-50%) rotate(90deg);
          }
        }
      }
    }

    .aside-submenu {
      margin-left: 0.8125rem;
      margin-bottom: 0.75rem;
      padding-bottom: 0.75rem;
      border-bottom: 2px solid $color-grey;

      li {
        // margin-left: -0.8125rem;
      }

      a {
        // padding-left: 1.75rem;
      }
    }
  }

  .request-card.request-card-2 {
    padding: 1rem;
    text-align: left;

    .request-contacts {
      justify-content: flex-start;
    }

    .request-divider span {
      padding: 0;
    }

    .request-email form {
      flex-direction: column;

      .form-group {
        margin-right: 0;
        margin-bottom: 1rem;
      }

      .btn-submit {
        max-width: 100%;
      }
    }
  }
}