// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.main-header {
  position: sticky;
  top: 0;
  border-bottom: 2px solid $color-grey-grey;
  background-color: $color-white;
  z-index: 1000;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

.header-nav {
  display: flex;
}

.main-logo {
  margin-right: 2.5rem;
}

.header-item {
  position: relative;

  & > a {
    display: inline-block;
    padding: 0.5rem 0;
    line-height: 1.3;

    svg {
      stroke: #8792AB;
      position: relative;
      top: 2px;
      margin-left: 3px;
      vertical-align: inherit;
    }

    &::after {
      display: none;
      position: absolute;
      content: '';
      bottom: -12px;
      right: 0;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: $color-pink;
    }

    &.active {
      color: $color-pink;
    }

    &:hover, &.active, &[aria-expanded="true"] {
      &::after {
        display: block;
      }
    }

    &:hover, &[aria-expanded="true"] {
      color: $color-pink;
      
      svg {
        stroke: $color-pink;
      }
    }
  }

  &.dropdown-hover {
    & > a {
      &::before {
        position: absolute;
        content: '';
        bottom: -1.25rem;
        left: 0;
        right: 0;
        height: 1.25rem;
      }
    }

    .dropdown-select {
      width: 873px;
      margin-top: 1.25rem;
      padding: 1.5rem;
      border-color: $color-pink;
      border-radius: 0.5rem;

      .dropdown-item {
        padding: 0.25rem 0;
      }

      .dropdown-item-text {
        padding: 1.25rem 0 0.25rem;

        &.dropdown-text-first {
          padding: 0 0 0.25rem;
        }
      }
    }
  }
}

.main-nav {
  display: flex;
  align-items: center;

  & > li:not(:last-child) {
    margin-right: 2rem;
  }
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.social-menu {
  display: flex;
  align-items: center;
  margin-right: 1.6875rem;
}

.social-phone {
  margin-right: 1.25rem;

  a {
    font-weight: 500;
  }
}

.social-item {
  &:not(:last-of-type) {
    margin-right: 0.4375rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 0.4375rem;
    border-radius: 3px;

    img {
      max-width: 100%;
    }
  }
}

.social-viber {
  a {
    background-color: $color-viber;

    &:hover {
      background-color: darken($color-viber, 5%);
    }
  }
}

.social-telegram {
  a {
    background-color: $color-telegram;

    &:hover {
      background-color: darken($color-telegram, 5%);
    }
  }
}

.social-facebook {
  a {
    background-color: $color-facebook;

    &:hover {
      background-color: darken($color-facebook, 5%);
    }
  }
}

.social-instagram {
  a {
    background: radial-gradient(208.48% 208.48% at -10.93% 135.05%, #F9ED41 0%, #FF833D 24.12%, #EE5568 40.1%, #E7407B 48.88%, #0028FF 100%);

    &:hover {
      background: radial-gradient(208.48% 208.48% at -10.93% 135.05%, darken(#F9ED41, 5%) 0%, darken(#FF833D, 5%) 24.12%, darken(#EE5568, 5%) 40.1%, darken(#E7407B, 5%) 48.88%, darken(#0028FF, 5%) 100%);
    }
  }
}

.select-menu {
  &:not(:last-of-type) {
    margin-right: 1.5625rem;
  }
}

// mobile nav
.mobile-nav {
  display: none;

  .navbar-collapse {
    position: absolute;
    width: 100%;
    margin-top: 0.375rem;
    left: 0;
    padding: 0 0.9375rem;
    text-align: center;
    z-index: 100;
    overflow-x: hidden;
    background-color: $color-white;
  }

  .mobile-item {
    border-bottom: 1px solid $color-grey-grey;
  }

  .mobile-link {
    display: inline-block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &.mobile-link-submenu {
      &.right-arrow {
        background-position: right 2px center;
      }

      &.left-arrow {
        background-position: left 2px center;
      }
    }

    &.active {
      color: $color-pink;
    }
  }
}

.mobile-menu-wrapper {
  max-width: 20.625rem;
  margin: 0 auto;
  padding-top: 2.5rem;
  height: calc(100vh - 3.5rem);
}

.mobile-button { 
  &.navbar-toggler {
    position: relative;
    width: 48px;
    height: 48px;
    padding: 14px 12px;
    border: 0;
    vertical-align: middle;
    background-color: $color-white;
  
    .nav-opener {
      position: absolute;
      width: 24px;
      height: 20px;
      top: 14px;
      left: 12px;
  
      span, &::before, &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        border-radius: 2px;
        background-color: #172A3A;
        transition: all 0.3s ease-in;
      }
  
      &::before {
        content: '';
        top: 9px;
      }
  
      &::after {
        content: '';
        top: 18px;
      }
    }
  
    &[aria-expanded="true"] {
      .nav-opener {
        span {
          top: 9px;
          transform: rotate(45deg);
        }
  
        &::before {
          opacity: 0;
        }
  
        &::after {
          top: 9px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.select-menu-mobile {
  text-align: left;

  & > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.875rem 1rem 0.875rem 1.5rem;
    line-height: 1;
    border: 2px solid $color-grey;
    border-radius: 0.25rem;

    &[aria-expanded="true"], &:hover {
      color: $color-black;
    }

    & > svg {
      stroke: $color-dark-grey;
    }
  }

  .dropdown-menu.dropdown-select {
    width: 100%;
    margin-top: 0.4375rem;
  }
}

.main-mobile-nav {
  padding-top: 1.875rem;
}

.mobile-lang {
  display: flex;
  justify-content: center;
  padding-top: 1.125rem;

  li {
    &:not(:last-child) {
      margin-right: 1.3125rem;
    }
  }

  a {
    &.active {
      font-weight: 700;
      color: $color-pink;
    }
  }
}

.mobile-contacts {
  padding: 1.0625rem 0 0;
}

.mobile-social {
  display: flex;
  justify-content: center;
  padding-top: 1.0625rem;

  .social-item {
    &:not(:last-of-type) {
      margin-right: 0.875rem;
    }

    a {
      width: 3.5rem;
      height: 3.5rem;
      padding: 0.75rem;
      border-radius: 6px;
    }
  }
}

.mobile-contacts-nav {
  padding-top: 2rem;
  padding-bottom: 7rem;

  .social-phone {
    margin-right: 0;

    &:not(:last-of-type) {
      margin-bottom: 0.625rem;
    }
  }
}

.mobile-catalog {
  position: fixed;
  width: 100%;
  height: calc(100vh - 3.625rem);
  left: 0;
  top: 3.625rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7rem;
  transform: translateX(100%);
  background-color: $color-white;
  z-index: 2;
  transition: all 0.3s ease;
  overflow-y: scroll;

  &.active {
    transform: translateX(0);
    transition: all 0.3s ease;
  }
}

@include until($xl) {
  .main-nav, .select-menu {
    display: none;
  }

  .social-menu {
    margin-right: 0.625rem;
  }

  .mobile-nav {
    display: block;
  }
}

@include until($sm) {
  .mobile-nav {
    .navbar-collapse {
      margin-top: 0.25rem;
    }
  }

  .contacts-nav {
    display: none;
  }
}

